<section class="full-erp bg-shared position-relative">
  <div class="container">
    <div class="row mb-3 justify-content-center align-items-center">
      <div class="col-lg-8">
        <div class="content text-center">
          <h1 class="fw-semibold mb-32 fs-36">Full <span class="text-shared">ERP </span>System</h1>
          <p class="text-muted fs-20 fw-medium mt-4">
            One powerful platform that includes all ERP modules — plus advanced accounting tools —
            to manage your entire business from a single place.
          </p>
        </div>
      </div>
    </div>
    <div class="hover-images">
      <img src="images/bank.png" alt="bank" />
      <img src="images/employees.png" alt="employees" />
    </div>
  </div>
</section>
<section class="erp-platform">
  <div class="container">
    <div class="row justify-content-center align-items-center mb-xl-5 mb-lg-4 mb-md-3 mb-sm-2">
      <div class="col-lg-8">
        <div class="full-erp_header text-center">
          <h2 class="fw-bold fs-40 mb-3 mb-lg-4">
            <span class="text-shared">Everything</span> Your Business
            <span class="text-shared">Needs</span> in One
            <span class="text-shared">System</span>
          </h2>
          <p class="fw-medium text-muted fs-20 mb-4">
            Full ERP comes with all modules included in both the ERP suite and the Accounting suite.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="real-data rounded-5 px-2 px-sm-4 py-3 py-sm-5 mb-4">
          <img src="images/reporting-original.png" alt="ERP Modules" class="w-100" />
          <div class="mt-3 mt-sm-5">
            <h2 class="fs-32 fw-semibold">ERP Modules</h2>
            <p class="fw-medium fs-24 text-muted">ERP Modules Included</p>
            <div class="row">
              <div class="col-sm-6">
                <p class="text-shared fs-16 fw-medium">
                  <i class="ri-flashlight-fill"></i> Inventory Management
                </p>
              </div>
              <div class="col-sm-6">
                <p class="text-shared fs-16 fw-medium">
                  <i class="ri-flashlight-fill"></i> Sales Management
                </p>
              </div>
              <div class="col-sm-6">
                <p class="text-shared fs-16 fw-medium">
                  <i class="ri-flashlight-fill"></i> Purchase Orders
                </p>
              </div>
              <div class="col-sm-6">
                <p class="text-shared fs-16 fw-medium">
                  <i class="ri-flashlight-fill"></i> Employee Management
                </p>
              </div>
              <div class="col-sm-6">
                <p class="text-shared fs-16 fw-medium">
                  <i class="ri-flashlight-fill"></i> Recruitment
                </p>
              </div>
              <div class="col-sm-6">
                <p class="text-shared fs-16 fw-medium">
                  <i class="ri-flashlight-fill"></i> Website Management
                </p>
              </div>
            </div>
            <button
              class="btn px-4 rounded-3 shared-btn text-white fw-medium mt-4 fs-16"
              type="submit"
            >
              View features <i class="ri-arrow-right-long-fill ms-2"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex">
        <div class="end-to-end rounded-5 px-2 px-sm-4 py-3 py-sm-5 mb-4">
          <img src="images/accounting-modules.png" alt="Accounting Modules" class="w-100" />
          <div class="mt-3 mt-sm-5">
          <div>
              <h2 class="fs-32 fw-semibold">Accounting Modules</h2>
            <p class="fw-medium fs-24 text-muted">Accounting Modules Included</p>
          </div>
            <div class="row">
              <div class="col-sm-6">
                <p class="text-shared fs-16 fw-medium">
                  <i class="ri-flashlight-fill"></i> Journal Entry
                </p>
              </div>
              <div class="col-sm-6">
                <p class="text-shared fs-16 fw-medium">
                  <i class="ri-flashlight-fill"></i> Chart of Accounts
                </p>
              </div>
              <div class="col-sm-6">
                <p class="text-shared fs-16 fw-medium">
                  <i class="ri-flashlight-fill"></i> Financial Reports
                </p>
              </div>
              <div class="col-sm-6">
                <p class="text-shared fs-16 fw-medium">
                  <i class="ri-flashlight-fill"></i> Bills & Invoices
                </p>
              </div>
              <div class="col-sm-6">
                <p class="text-shared fs-16 fw-medium">
                  <i class="ri-flashlight-fill"></i> Cash Flow Management
                </p>
              </div>
            </div>
            <button
              class="btn px-4 rounded-3 shared-btn text-white fw-medium mt-4 fs-16"
              type="submit"
            >
              View Full ERP <i class="ri-arrow-right-long-fill ms-2"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="erp bg-shared position-relative pb-3 pb-sm-5">
  <div class="container">
    <div class="row mb-3 justify-content-center align-items-center">
      <div class="col-lg-9">
        <div class="content text-center">
          <h1 class="fw-semibold mb-32 fs-36">
            All Essential <span class="text-shared">ERP Modules</span>Included
          </h1>
          <p class="text-muted fs-20 fw-medium mt-4">
            Manage operations, inventory, sales, HR, and workflows with a complete suite of ERP
            tools designed to streamline every part of your business.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <!-- <div class="col-lg-4"> -->
      @for (item of erp; track $index) {
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 d-flex justify-content-center">
        <div
          class="erp-card mb-3 mb-sm-4 gap-3 py-3 py-sm-4 px-3 px-sm-4 d-flex align-items-center"
        >
          <img [src]="item.imgSrc" alt="" />
          <div>
            <h3 class="fs-20 fw-medium text-shared">{{ item.title }}</h3>
            <p class="fw-medium fs-16 text-muted m-0">{{ item.description }}</p>
          </div>
        </div>
      </div>
      }
      <!-- </div> -->
    </div>

    <div class="row mb-3 mt-5 justify-content-center align-items-center">
      <div class="col-lg-9">
        <div class="content text-center">
          <h1 class="fw-semibold mb-32 fs-36">
            Advanced <span class="text-shared">Accounting Tools</span>Built In
          </h1>
          <p class="text-muted fs-20 fw-medium mt-4">
            Gain full control over your finances with powerful features for journal entries,
            invoices, reporting, and real-time financial insights.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <!-- <div class="col-lg-4"> -->
      @for (item of erp; track $index) {
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 d-flex justify-content-center">
        <div
          class="erp-card mb-3 mb-sm-4 gap-3 py-3 py-sm-4 px-3 px-sm-4 d-flex align-items-center"
        >
          <img [src]="item.imgSrc" alt="" />
          <div>
            <h3 class="fs-20 fw-medium text-shared">{{ item.title }}</h3>
            <p class="fw-medium fs-16 text-muted m-0">{{ item.description }}</p>
          </div>
        </div>
      </div>
      }
      <!-- </div> -->
    </div>
  </div>
</section>
