.erp-business{
//   background-image: url("../../../assets/images/vector.png");
// background: linear-gradient(180.87deg, #FFFFFF 16.85%, #DDE7FD 132.12%);
  background:   url("/assets/images/vector.png") no-repeat center/cover;

    padding-top: 120px;
    min-height: 100vh;
    h1{
        font-size: clamp(18px, 2.5vw, 36px);
    }
    p{
          font-size: clamp(14px, 1.39vw, 20px);

    }
    .erp-description{
        margin-top: 60px;
    }
}
.mt-60{
    margin-top: 60px;
}