/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap' as *;
// color file
@use '../src/app/shared/scss/color' as *;

//reixicon
@import 'remixicon/fonts/remixicon.css';
// toster
// @import 'ngx-toastr/toastr-bs5-alert';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: white;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bg-main {
  background-color: $main-color;
}
.fs-40 {
  font-size: clamp(20px, 2.78vw, 40px);
}
.fs-20 {
  font-size: clamp(14px, 1.39vw, 20px);
}
.fs-24 {
  font-size: clamp(16px, 1.67vw, 24px);
}
.fs-32 {
  font-size: clamp(18px, 2.22vw, 32px);
}
.fs-18 {
  font-size: clamp(14px, 1.25vw, 18px);
}
.fs-16 {
  font-size: clamp(12px, 1.11vw, 16px);
}
.fs-36 {
  font-size: clamp(20px, 2.5vw, 36px);
}
.mb-32 {
  margin-bottom: 32px;
}
.text-shared {
  color: $main-color;
}
.bg-shared {
  background: url('../public/images/vector.png'),
    linear-gradient(180.87deg, #ffffff 16.85%, #dde7fd 132.12%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.shared-btn {
  background-color: $main-color;
  padding-right: 14px;
  padding-left: 14px;

//   height: 40px !important;
  color: white;
  transition: all 0.3s ease-in-out;
  &:hover {
    // height: 35px !important;
    // padding-top: 4px;
    background-color: #86a3ff;
    color: white;
  }
}
.faq-accordion {
  .panel-group {
    .panel {
      background-color: transparent;
      .panel-heading {
        background-color: transparent;
        border: 0;
        .accordion-toggle {
          a {
            text-decoration: none;
          }
        }
      }
      //   .panel-body{
      //     padding: 0 16px;
      //   }
    }
  }
}

.hover-images {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    img {
      width: 100%;
      max-width: 600px;
      border-radius: 12px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease-in-out;
      &:first-child {
        position: absolute;
        top: 40px;
        left: 0;
        width: 55%;
        z-index: 1;
      }
      &:last-child {
        position: relative;
        margin-left: auto;
        display: block;
        width: 75%;
        z-index: 2;
        right: 0;
      }
    }
    &:hover img:first-child {
      left: -25px;
    }
    &:hover img:last-child {
      right: -104px;
    }
  }